@font-face {
	font-family: "けいふぉんと";
	src: url(./keifont.ttf);
}

* {
  margin: 0 auto;
}

body {
  background-image: url("./nc71090.png");
}

#base {
  width: 950px;
  height: 875px;
  background: rgba(255, 128, 0, 0.75);
  text-align: center;
}

h1 {
  font-family: "けいふぉんと";
  color: #ff0000;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 1px;
  padding-top: 20px;
  font-size: 50px;
}

#gameBoard {
  width: 700px;
  height: 450px;
  margin-top: 20px;
  border: 3px solid green;
  background-color:#ffffff;
  border-radius: 20px 20px 0 0;
}

#myCoin {
  margin-top: 5px;
  font-size: 34px;
  font-family: "けいふぉんと";
  color: #ffff00;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 2px;
}

#whiteBoard {
  position: relative;
  top: -350px;
  width: 500px;
  height: 350px;
  background-color:#ffffff;
}

#coinBoard {
  position: relative;
  top: -316px;
  right: 2.5px;
  width: 700px;
  height: 100px;
  border: 3px solid green;
  background-color:#ffffff;
  border-radius: 0 0 20px 20px;
}

#bet {
  margin-top: 25px;
  font-size: 50px;
  font-family: "けいふぉんと";
  color: #ffff00;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 3px;
}

#betCoin {
  padding-top: 10px;
  font-size: 30px;
  height: 50px;
  width: 300px;
  font-family: "けいふぉんと";
  color: #0000ff;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 0px;
  font-size: 100%;
}

#errorLog {
  display: inline-block;
  text-align: left;
  color: #ff0000;
}

#clear {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 40;
}

#gameOver {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 40;
}

#howManyTimes {
  font-size: 40px;
}

#firstShake {
  display: none;
}

#shakeAgain {
  display: none;
}

#myTurnEnd {
  display: none;
}

#playerHand {
  font-size: 50px;
  font-weight: bold;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  margin-top: 25px;
  margin-left: -26px;
  line-height: 250%;
}

#me {
  position: relative;
  top: 20px;
  left: -20px;
  float: left;
}

#enemy{
  position: relative;
  float: right;
  top: 20px;
  left: 20px;
}


.myDices {
  width: 100px;
  height: 100px;
}

.enemyDices {
  width: 100px;
  height: 100px;
}

#myDice03 {
  margin-right: 3.75px;
}

#enemyDice03 {
  margin-right: 3.75px;
}

#start {
  bottom: 300px;
  font-size: 40px;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #53b8e0;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #d27d00;
}

#start:focus {
  outline: none;
}


#start:active {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.niceDesign {
  bottom: 80px;
  font-size: 35px;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #f13b14;
  border-bottom: solid 2px #ff0000;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(0,0,0,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
  border: solid 2px #d27d00;
}

#niceDesign:active {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}Î

#myTurnEnd {
  background: #3f3f3f;
}

#ruleBoard {
  width: 950px;
  height: 173px;
  position: relative;
  background: rgba(255, 255, 255, 0.75);
  text-align: center;
  top: 330px;
}

#rule {
  right: 400px;
  width: 500px;
  font-size: 20px;
}