@font-face {
	font-family: "けいふぉんと";
	src: url(./keifont.ttf);
}

* {
  margin: 0 auto;
}

body {
background-image: url("./nc71090.png");
}

#square {
  width: 950px;
  height: 875px;
  background: rgba(255, 128, 0, 0.75);
  text-align: center;
}

h1 {
  font-family: "けいふぉんと";
  color: #ff0000;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 1px;
}

p {
  display: inline-block;
  text-align: left;
  color: #ff0000;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 1px;
}